.TodosList {
  background-color: var(--card-bg-color);
  border-radius: 0.3125rem;
  box-shadow: 0px 35px 50px -15px var(--card-shadow-color);
}

.TodosList-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TodosList-loading,
.TodosList-notfound {
  border-bottom: 1px solid var(--divider-color);
  color: var(--text-secondary-color);
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .TodosList-loading,
  .TodosList-notfound {
    padding: 1.5rem 1rem;
  }
}
