.TodosListFooter {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem 1.25rem;
}

.TodosListFooter-items-left {
  color: var(--text-secondary-color);
}

.TodosListFooter-clear-completed {
  background-color: transparent;
  border: none;
  color: var(--text-secondary-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

.TodosListFooter-clear-completed:hover:not(:disabled) {
  color: var(--text-primary-color);
}

.TodosListFooter-clear-completed:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.TodosListFooter-filters {
  display: none;
}

@media (min-width: 768px) {
  .TodosListFooter {
    font-size: 0.875rem;
    letter-spacing: -0.19px;
  }

  .TodosListFooter-filters {
    align-items: center;
    column-gap: 1.125rem;
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
