.TodoItem {
  align-items: center;
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  padding: 1rem 1.25rem;
}

.TodoItem .Checkbox:checked ~ .TodoItem-title {
  color: var(--text-tertiary-color);
  text-decoration: line-through;
}

.TodoItem-title {
  color: var(--text-primary-color);
  flex: 1;
  letter-spacing: -0.17px;
  margin-left: 0.75rem;
}

.TodoItem-remove {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-primary-color);
  cursor: pointer;
  display: flex;
  padding: 0;
}

.TodoItem-remove:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .TodoItem {
    padding: 1.25rem 1.5rem;
  }

  .TodoItem-title {
    letter-spacing: -0.25px;
    margin-left: 1.5rem;
  }

  .TodoItem-remove {
    visibility: hidden;
  }

  .TodoItem:hover .TodoItem-remove,
  .TodoItem:focus-within .TodoItem-remove {
    visibility: visible;
  }
}
