.App {
  font-size: 0.75rem;
  min-height: 100%;
}

.App::before {
  background: var(--bg-image) top no-repeat;
  background-size: cover;
  content: '';
  height: 12.5rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.AppContainer {
  max-width: 33.75rem;
  margin: 0 auto;
  padding: 3rem 1.5rem 0;
}

.DragDropHint {
  color: var(--text-secondary-color);
  display: block;
  font-size: 0.875rem;
  letter-spacing: -0.19px;
  margin-top: 2.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .App {
    font-size: 1.125rem;
  }

  .App::before {
    height: 18.75rem;
  }

  .AppContainer {
    padding: 4.375rem 0;
  }

  .DragDropHint {
    margin-top: 3.125rem;
  }
}
