:root {
  --bg-image: url(./assets/bg-mobile-light.jpg);
  --bg-color: #FAFAFA;
  --card-bg-color: #FFFFFF;
  --card-shadow-color: #C2C3D680;
  --divider-color: #E3E4F1;
  --text-primary-color: #393A4B;
  --text-secondary-color: #9495A5;
  --text-tertiary-color: #D1D2DA;
  --text-accent-color: #3A7CFD;
}

.dark {
  --bg-image: url(./assets/bg-mobile-dark.jpg);
  --bg-color: #171823;
  --card-bg-color: #25273D;
  --card-shadow-color: #00000080;
  --divider-color: #393A4B;
  --text-primary-color: #C8CBE7;
  --text-secondary-color: #767992;
  --text-tertiary-color: #4D5067;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.visually-hidden {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  :root {
    --bg-image: url(./assets/bg-desktop-light.jpg);
  }

  .dark {
    --bg-image: url(./assets/bg-desktop-dark.jpg);
  }
}
